               
$orange:         #E65C43;
$headlineBg:     #F25C43;
$bodyColor:      #000;
$footerBg:       #30353D;
$grey:           #666;
$whiteBg:        #F5F6F6;
$white:          #fff;
$font:           'Roboto', sans-serif; 
$font-weights: (
                "light": 100,
                "normal": 400,
                "bold": 900
);
$font-sizes: (
                "heading1": 4em,
                "heading2": 2.5em,
                "heading3": 2em,
                "heading4": 1.6em,
                "body": 1em,
                "body2": 1.2em

);

// NOT NEEDED?
// $smscreen: 459px;
// $mdscreen: 767px;
// $lgscreen: 959px;